In [1]:
import getml
from challenge.utils.data import load_ctu_dataset

getml.set_project("db_transformer_accidents")

Connected to project 'db_transformer_accidents'.

# Task: Accidents
### Dataset Description
> <span style="font-weight: 500; color: #3b3b3b;">ⓘ️&nbsp; Generated by `gpt-4o`</span>
>
> The *Accidents* dataset contains records of traffic accidents in Ljubljana, Slovenia, from 1995 to 2005.
> 
> - **Data Model:**
>   - *oseba* table:
>     - `id_nesreca` (char): Accident ID.
>     - Various columns for personal details and test results (char, tinyint, decimal).
>   - *nesreca* table:
>     - `id_nesreca` (char): Accident ID.
>     - `klas_nesreca` (char): Accident classification.
>     - Various columns for accident details, location, and conditions (char, datetime, int, double).
>   - *upravna_enota* table:
>     - `id_upravna_enota` (char): Administrative unit ID.
>     - `ime_upravna_enota` (varchar): Name of the administrative unit.
>     - `st_prebivalcev` (int): Population count.
>     - `povrsina` (smallint): Area size.
> 
> - **Task:**
>   - The primary task is *classification*, with the target column being `klas_nesreca` in the *nesreca* table.
> 
> - **Column Types:**
>   - Character (`char`) for IDs and classifications.
>   - Tiny integer (`tinyint`) for small numeric values.
>   - Decimal (`decimal`) for precise numeric values.
>   - DateTime (`datetime`) for temporal data.
>   - Integer (`int`) for numeric data.
>   - Double (`double`) for geographic coordinates.
>   - Variable character (`varchar`) for names.
> 
> - **Metadata:**
>   - The dataset is real and contains missing values.
>   - It consists of 3 tables with a total of 1,453,650 rows and 43 columns.
>   - The dataset size is approximately 234.5 MB.
>   - There are 503,362 instances, with the target table being *nesreca*.
> 
> This dataset is useful for government and public safety analysis, focusing on traffic accident patterns and contributing factors.

### Tables
Population table: nesreca

<h4>
  <details open>
     <summary>ER Diagram</summary>
       <img src="https://relational.fel.cvut.cz/assets/img/datasets-generated/Accidents.svg" alt="Accidents ER Diagram">
   </details>
</h4>

To load the dataset, we use the `load_ctu_dataset` function from the `utils`
module. This function returns a tuple with the population table as the first
element and the a dictionary of peripheral tables as the second element.

In [2]:
nesreca, peripheral = load_ctu_dataset("Accidents")

(
    oseba,
    upravna_enota,
) = peripheral.values()

Analyzing schema:   0%|          | 0/3 [00:00<?, ?it/s]

Downloading tables:   0%|          | 0/3 [00:00<?, ?it/s]

Building data:   0%|          | 0/3 [00:00<?, ?it/s]

Now, we can inspect all tables and annotate the columns with [roles](https://getml.com/latest/user_guide/concepts/annotating_data/).

The population table (`nesreca`). We already set the `target` role for the target (`klas_nesreca`). If the task is a multiclass classification,
we split the target column into multiple columns in an one-vs-all fashion. In this case, the original target is still avaiable as `klas_nesreca`.

In [3]:
# TODO: Annotate remaining columns with roles
nesreca

  name   klas_nesreca=0   klas_nesreca=1   klas_nesreca=2   klas_nesreca=3   ...   x               y
  role           target           target           target           target   ...   unused_string   unused_string
     0                1                0                0                0   ...   556102          159758
     1                0                1                0                0   ...   423380          95390
     2                0                0                1                0   ...   555372          150260
     3                0                1                0                0   ...   425085          96093
     4                0                1                0                0   ...   460758          100064
                    ...              ...              ...              ...         ...             ...
508988                0                1                0                0   ...   395782          44457
508989                0                1                0                0   ...   399890          44778
508990                0                1                0                0   ...   397155          44707
508991                0                1                0                0   ...   395841          44524
508992                0                1                0                0   ...   393977          43662

  name   x_wgs84            y_wgs84            split
  role   unused_string      unused_string      unused_string
     0   15.7271485845696   46.5795099965885   train
     1   14.0060339182733   45.998372031671    train
     2   15.716499936082    46.4941258818011   train
     3   14.0279317718935   46.0048857243671   train
     4   14.4881741063497   46.0436029798011   val
         ...                ...                ...
508988   13.6608356763765   45.5365522649472   val
508989   13.7133553386726   45.5400444582009   val
508990   13.6783582421227   45.5390059636959   train
508991   13.6615766082626   45.537163839863    val
508992   13.6379035161676   45.5291273799088   train


508993 rows x 29 columns
memory usage: 195.06 MB
type: getml.DataFrame

Peripheral tables,

In [4]:
# TODO: Annotate columns with roles
oseba

  name   id_nesreca      povzrocitelj_ali_udelezenec   starost         spol            ...   strokovni_pregled   starost_d
  role   unused_string   unused_string                 unused_string   unused_string   ...   unused_string       unused_string
     0   036738          D                             38              1               ...   0.08                D
     1   036738          D                             28              1               ...   0                   C
     2   036738          N                             12              2               ...   NULL                B
     3   036744          D                             24              1               ...   NULL                C
     4   036744          N                             27              1               ...   NULL                C
         ...             ...                           ...             ...                   ...                 ...
954031   549803          N                             18              2               ...   0                   B
954032   549804          D                             27              1               ...   0                   C
954033   549804          N                             25              1               ...   0                   C
954034   549805          D                             41              1               ...   0                   E
954035   549805          N                             24              1               ...   0                   C

  name   vozniski_staz_d   alkotest_d      strokovni_pregled_d
  role   unused_string     unused_string   unused_string
     0   B                 B               B
     1   B                 A               A
     2   A                 N               N
     3   B                 N               N
     4   B                 N               N
         ...               ...             ...
954031   N                 A               A
954032   B                 A               A
954033   B                 A               A
954034   A                 C               A
954035   A                 A               A


954036 rows x 17 columns
memory usage: 173.07 MB
type: getml.DataFrame

In [5]:
# TODO: Annotate columns with roles
upravna_enota

name   id_upravna_enota   ime_upravna_enota   st_prebivalcev   povrsina
role   unused_string      unused_string       unused_string    unused_string
   0   5501               Ajdovščina          23507            353
   1   5502               Brežice             23253            268
   2   5503               Celje               62049            230
   3   5504               Cerknica            16155            483
   4   5505               Črnomelj            18290            486
       ...                ...                 ...              ...
  59   5564               Maribor             145678           356
  60   5565               Pesnica             19750            171
  61   5568               Ruše                15054            209
  62   5598               MNZ                 0                0
  63   5599               Neznana             0                0


64 rows x 4 columns
memory usage: 0.00 MB
type: getml.DataFrame

The next step is to define the data model. Refer to [https://relational.fel.cvut.cz/dataset/Accidents](https://relational.fel.cvut.cz/dataset/Accidents)
for a description of the dataset.

In [6]:
dm = getml.data.DataModel(population=nesreca.to_placeholder())
dm.add(getml.data.to_placeholder(**peripheral))

# TODO
# dm.population.join(...)

Now we can create the container and add the tables to it.

In [7]:
container = getml.data.Container(population=nesreca, split=nesreca.split)
container.add(**peripheral)

container

population
    subset   name        rows   type
0   train    nesreca   356296   View
1   val      nesreca   152697   View

peripheral
    name              rows   type
0   oseba           954036   DataFrame
1   upravna_enota       64   DataFrame