In [1]:
import getml
from challenge.utils.data import load_ctu_dataset

getml.set_project("basketball_men")

Connected to project 'basketball_men'.

# Task: Basketball_men
### Dataset Description
> <span style="font-weight: 500; color: #3b3b3b;">ⓘ️&nbsp; Generated by `gpt-4o`</span>
>
> The *Basketball_men* dataset is designed to predict the rank of basketball teams, focusing on various aspects of team and player performance. The task is a *regression* task, with the target column being `rank` in the `teams` table.
> 
> **Data Model:**
> - **Tables:** 9 (awards_coaches, players_teams, draft, series_post, coaches, player_allstar, awards_players, teams, players)
> - **Columns:**
>   - **awards_coaches:** Information about coach awards.
>   - **players_teams:** Player performance data.
>   - **draft:** Draft details.
>   - **series_post:** Post-season series information.
>   - **coaches:** Coach performance data.
>   - **player_allstar:** All-star player details.
>   - **awards_players:** Player awards.
>   - **teams:** Team details, including the target column `rank`.
>   - **players:** Player information.
> 
> **Task and Target:**
> - **Task:** Regression
> - **Target Column:** `rank` (in the teams table)
> 
> **Metadata:**
> - **Size:** 18.3 MB
> - **Number of Rows:** 43,841
> - **Number of Columns:** 195
> - **Missing Values:** Yes
> - **Compound Keys:** Yes
> - **Loops:** Yes
> - **Type:** Real
> - **Instance Count:** 1,536
> 
> This dataset is used to analyze and predict team rankings based on historical performance data, providing insights into team dynamics and player contributions in the sport of basketball.

### Tables
Population table: teams

<h4>
  <details open>
     <summary>ER Diagram</summary>
       <img src="https://relational.fel.cvut.cz/assets/img/datasets-generated/Basketball_men.svg" alt="Basketball_men ER Diagram">
   </details>
</h4>

To load the dataset, we use the `load_ctu_dataset` function from the `utils`
module. This function returns a tuple with the population table as the first
element and the a dictionary of peripheral tables as the second element.

In [2]:
teams, peripheral = load_ctu_dataset("Basketball_men")

(
    awards_coaches,
    awards_players,
    coaches,
    draft,
    player_allstar,
    players,
    players_teams,
    series_post,
) = peripheral.values()

Analyzing schema:   0%|          | 0/9 [00:00<?, ?it/s]

Downloading tables:   0%|          | 0/9 [00:00<?, ?it/s]

Building data:   0%|          | 0/9 [00:00<?, ?it/s]

Now, we can inspect all tables and annotate the columns with [roles](https://getml.com/latest/user_guide/concepts/annotating_data/).

The population table (`teams`).

We already set the `target` role for the target (`rank`).


rank is the target column for a regression task.

In [3]:
# TODO: Annotate remaining columns with roles
teams

name     rank           year       confRank          o_fgm   ...   playoff         name
role   target   unused_float   unused_float   unused_float   ...   unused_string   unused_string
   0        1           1937              0            249   ...   CF              Akron Firestone Non-Skids
   1        2           1937              0            243   ...   WC              Akron Goodyear Wingfoots
   2        4           1937              0            108   ...   NULL            Buffalo Bisons
   3        5           1937              0            110   ...   NULL            Richmond King Clothiers/Cincinna...
   4        6           1937              0            109   ...   NULL            Columbus Athletic Supply
          ...            ...            ...            ...         ...             ...
1531        5           2011              0           2490   ...   NULL            Sacramento Kings
1532        1           2011              0           2611   ...   CF              San Antonio Spurs
1533        4           2011              0           2268   ...   NULL            Toronto Raptors
1534        3           2011              0           2523   ...   C1              Utah Jazz
1535        4           2011              0           2414   ...   NULL            Washington Wizards

name   arena           bbtmID          split
role   unused_string   unused_string   unused_string
   0   NULL            AFS             val
   1   NULL            AGW             val
   2   NULL            BFB             val
   3   NULL            CNC             train
   4   NULL            COL             val
       ...             ...             ...
1531   NULL            NULL            train
1532   NULL            NULL            train
1533   NULL            NULL            val
1534   NULL            NULL            val
1535   NULL            NULL            val


1536 rows x 61 columns
memory usage: 0.85 MB
type: getml.DataFrame

Peripheral tables,

In [4]:
# TODO: Annotate columns with roles
awards_coaches

name             id           year   coachID         award                   lgID            note
role   unused_float   unused_float   unused_string   unused_string           unused_string   unused_string
   0              1           1962   gallaha01       NBA Coach of the Year   NBA             NULL
   1              2           1963   hannual01       NBA Coach of the Year   NBA             NULL
   2              3           1964   auerbre01       NBA Coach of the Year   NBA             NULL
   3              4           1965   schaydo01       NBA Coach of the Year   NBA             NULL
   4              5           1966   kerrjo01        NBA Coach of the Year   NBA             NULL
                ...            ...   ...             ...                     ...             ...
  56             57           2007   scottby01       NBA Coach of the Year   NBA             NULL
  57             58           2008   brownmi02       NBA Coach of the Year   NBA             NULL
  58             59           2009   brooksc01       NBA Coach of the Year   NBA             NULL
  59             60           2010   thiboto01       NBA Coach of the Year   NBA             NULL
  60             61           2011   popovgr01       NBA Coach of the Year   NBA             NULL


61 rows x 6 columns
memory usage: 0.01 MB
type: getml.DataFrame

In [5]:
# TODO: Annotate columns with roles
awards_players

name           year   playerID        award                       lgID            note            pos
role   unused_float   unused_string   unused_string               unused_string   unused_string   unused_string
   0           1969   abdulka01       All-Defensive Second Team   NBA             NULL            NULL
   1           1969   abdulka01       All-NBA Second Team         NBA             NULL            C
   2           1969   abdulka01       Rookie of the Year          NBA             NULL            NULL
   3           1970   abdulka01       All-Defensive Second Team   NBA             NULL            NULL
   4           1970   abdulka01       All-NBA First Team          NBA             NULL            C
                ...   ...             ...                         ...             ...             ...
1714           2007   youngth01       All-Rookie Second Team      NBA             NULL            NULL
1715           1946   zasloma01       All-NBA First Team          NBA             NULL            NULL
1716           1947   zasloma01       All-NBA First Team          NBA             NULL            NULL
1717           1948   zasloma01       All-NBA First Team          NBA             NULL            NULL
1718           1949   zasloma01       All-NBA First Team          NBA             NULL            NULL


1719 rows x 6 columns
memory usage: 0.15 MB
type: getml.DataFrame

In [6]:
# TODO: Annotate columns with roles
coaches

name           year          stint            won           lost      post_wins    post_losses   coachID         tmID
role   unused_float   unused_float   unused_float   unused_float   unused_float   unused_float   unused_string   unused_string
   0           1988              2             14             21             0              3    adelmri01       POR
   1           1989              1             59             23            12              9    adelmri01       POR
   2           1990              1             63             19             9              7    adelmri01       POR
   3           1991              1             57             25            13              8    adelmri01       POR
   4           1992              1             51             31             1              3    adelmri01       POR
                ...            ...            ...            ...            ...            ...   ...             ...
1684           1961              1              6              9           nan            nan    woolpph01       SFS
1685           1973              2              0              3             0              0    youngdr01       KCO
1686           1968              4             10             23             3              4    youngve01       MNP
1687           1967              1             36             42             0              0    zasloma01       NJA
1688           1968              1             17             61             0              0    zasloma01       NYA

name   lgID
role   unused_string
   0   NBA
   1   NBA
   2   NBA
   3   NBA
   4   NBA
       ...
1684   ABL1
1685   NBA
1686   ABA
1687   ABA
1688   ABA


1689 rows x 9 columns
memory usage: 0.15 MB
type: getml.DataFrame

In [7]:
# TODO: Annotate columns with roles
draft

name             id      draftYear     draftRound   draftSelection   ...   lastName        suffixName      playerID
role   unused_float   unused_float   unused_float     unused_float   ...   unused_string   unused_string   unused_string
   0              1           1967              0                0   ...   Hardy           NULL            hardyda01
   1              2           1967              0                0   ...   Krulish         NULL            NULL
   2              3           1967              0                0   ...   Lewis           NULL            lewisbo01
   3              4           1967              0                0   ...   Lynn            NULL            lynnmi01
   4              5           1967              0                0   ...   Workman         NULL            workmto01
                ...            ...            ...              ...         ...             ...             ...
8616           8999           2011              2               26   ...   Maduabum        NULL            NULL
8617           9000           2011              2               27   ...   Ngombo          NULL            NULL
8618           9001           2011              2               28   ...   Majok           NULL            NULL
8619           9002           2011              2               29   ...   Hanga           NULL            NULL
8620           9003           2011              2               30   ...   Thomas          NULL            thomais02

name   draftFrom                      lgID
role   unused_string                  unused_string
   0   Baylor                         ABA
   1   Pacific                        ABA
   2   North Carolina                 ABA
   3   UCLA                           ABA
   4   Seattle                        ABA
       ...                            ...
8616   Bakersfield Jam (D-League)     NBA
8617   Al Rayyan (Qatar)              NBA
8618   Gold Coast Blaze (Australia)   NBA
8619   Assignia Manresa (Spain)       NBA
8620   Washington                     NBA


8621 rows x 12 columns
memory usage: 1.16 MB
type: getml.DataFrame

In [8]:
# TODO: Annotate columns with roles
player_allstar

name      season_id   games_played        minutes         points   ...   playerID        last_name       first_name
role   unused_float   unused_float   unused_float   unused_float   ...   unused_string   unused_string   unused_string
   0           1969              1             18            10    ...   abdulka01       Abdul-Jabbar    Kareem
   1           1970              1             30            19    ...   abdulka01       Abdul-Jabbar    Kareem
   2           1971              1             19            12    ...   abdulka01       Abdul-Jabbar    Kareem
   3           1972              1             98           nan    ...   abdulka01       Abdul-Jabbar    Kareem
   4           1973              1             23            14    ...   abdulka01       Abdul-Jabbar    Kareem
                ...            ...            ...            ...         ...             ...             ...
1603           1956              1             25             9    ...   yardlge01       Yardley         George
1604           1957              1             32            19    ...   yardlge01       Yardley         George
1605           1958              1             17             6    ...   yardlge01       Yardley         George
1606           1959              1             16            11    ...   yardlge01       Yardley         George
1607           1951              1             25             1    ...   zasloma01       Zaslofsky       Max

name   conference      league_id
role   unused_string   unused_string
   0   East            NBA
   1   West            NBA
   2   West            NBA
   3   West            NBA
   4   West            NBA
       ...             ...
1603   West            NBA
1604   West            NBA
1605   West            NBA
1606   East            NBA
1607   East            NBA


1608 rows x 23 columns
memory usage: 0.35 MB
type: getml.DataFrame

In [9]:
# TODO: Annotate columns with roles
players

name    firstseason     lastseason         height         weight   ...   hsCity                  hsState         hsCountry
role   unused_float   unused_float   unused_float   unused_float   ...   unused_string           unused_string   unused_string
   0              0              0             82            240   ...   Bloomfield              NJ              USA
   1              0              0             85            225   ...   New York                NY              USA
   2              0              0             74            185   ...   Philadelphia / Easton   PA / MD         USA
   3              0              0             73            162   ...   Gulfport                MS              USA
   4              0              0             78            223   ...   Evreux                  NULL            FRA
                ...            ...            ...            ...         ...                     ...             ...
5057              0              0             72            185   ...   Chicago                 IL              USA
5058              0              0             75            195   ...   Monroe                  LA              USA
5059              0              0             85            240   ...   Port Perry              ON              CAN
5060              0              0             73            170   ...   Monaca                  PA              USA
5061              0              0             75            195   ...   New Kensington          PA              USA

name   deathDate       race
role   unused_string   unused_string
   0   NULL            B
   1   NULL            B
   2   2011-11-18      B
   3   NULL            B
   4   NULL            B
       ...             ...
5057   1970-08-23      W
5058   NULL            B
5059   NULL            W
5060   NULL            W
5061   2006-12-15      W


5062 rows x 26 columns
memory usage: 1.62 MB
type: getml.DataFrame

In [10]:
# TODO: Annotate columns with roles
players_teams

 name             id           year          stint             GP   ...   PostthreeMade   playerID        tmID
 role   unused_float   unused_float   unused_float   unused_float   ...    unused_float   unused_string   unused_string
    0              1           1990              1             43   ...               0   abdelal01       POR
    1              2           1991              1             71   ...               0   abdelal01       POR
    2              3           1992              1             12   ...               0   abdelal01       MIL
    3              4           1992              2             63   ...               0   abdelal01       BOS
    4              5           1993              1             13   ...               0   abdelal01       BOS
                 ...            ...            ...            ...                   ...   ...             ...
23746          23747           2005              1              2   ...               0   zimmede01       NJN
23747          23748           1982              1              7   ...               0   zoetji01        DET
23748          23749           1970              1             53   ...               0   zopfbi01        MIL
23749          23750           1947              0             57   ...               0   zunicma01       FNT
23750          23751           1948              1             56   ...               0   zunicma01       WSC

 name   lgID            note
 role   unused_string   unused_string
    0   NBA             NULL
    1   NBA             NULL
    2   NBA             NULL
    3   NBA             NULL
    4   NBA             NULL
        ...             ...
23746   NBA             NULL
23747   NBA             NULL
23748   NBA             NULL
23749   NBL             NULL
23750   NBA             NULL


23751 rows x 43 columns
memory usage: 8.62 MB
type: getml.DataFrame

In [11]:
# TODO: Annotate columns with roles
series_post

name             id           year              W              L   ...   series          tmIDWinner      lgIDWinner
role   unused_float   unused_float   unused_float   unused_float   ...   unused_string   unused_string   unused_string
   0              1           1946              4              1   ...   O               PHW             NBA
   1              2           1946              2              1   ...   M               NYK             NBA
   2              3           1946              2              1   ...   M               PHW             NBA
   3              4           1946              2              0   ...   N               PHW             NBA
   4              5           1946              4              2   ...   N               CHS             NBA
                ...            ...            ...            ...         ...             ...             ...
 770            771           1974              1              0   ...   A               KEN             ABA
 771            772           1975              4              2   ...   D               NYA             ABA
 772            773           1975              4              3   ...   C               DNA             ABA
 773            774           1975              4              3   ...   C               NYA             ABA
 774            775           1975              2              1   ...   B               KEN             ABA

name   tmIDLoser       lgIDLoser
role   unused_string   unused_string
   0   CHS             NBA
   1   CLR             NBA
   2   STB             NBA
   3   NYK             NBA
   4   WSC             NBA
       ...             ...
 770   NYA             ABA
 771   DNA             ABA
 772   KEN             ABA
 773   SAA             ABA
 774   INA             ABA


775 rows x 10 columns
memory usage: 0.08 MB
type: getml.DataFrame

The next step is to define the data model. Refer to [https://relational.fel.cvut.cz/dataset/Basketball_men](https://relational.fel.cvut.cz/dataset/Basketball_men)
for a description of the dataset.

In [12]:
dm = getml.data.DataModel(population=teams.to_placeholder())
dm.add(getml.data.to_placeholder(**peripheral))

# TODO
# dm.population.join(...)

Now we can create the container and add the tables to it.

In [13]:
container = getml.data.Container(population=teams, split=teams.split)
container.add(**peripheral)

container

population
    subset   name    rows   type
0   train    teams   1076   View
1   val      teams    460   View

peripheral
    name              rows   type
0   awards_coaches      61   DataFrame
1   awards_players    1719   DataFrame
2   coaches           1689   DataFrame
3   draft             8621   DataFrame
4   player_allstar    1608   DataFrame
5   players           5062   DataFrame
6   players_teams    23751   DataFrame
7   series_post        775   DataFrame