In [1]:
import getml
from challenge.utils.data import load_ctu_dataset

getml.set_project("employee")

Connected to project 'employee'.

# Task: employee
### Dataset Description
> <span style="font-weight: 500; color: #3b3b3b;">ⓘ️&nbsp; Generated by `gpt-4o`</span>
>
> The *employee* dataset is a synthetic database designed to simulate employee records. The task is a *regression* task, with the target column being `salary` in the `salaries` table, representing the salary of employees.
> 
> **Data Model:**
> - **Tables:** 6 (salaries, titles, dept_emp, dept_manager, employees, departments)
> - **Columns:**
>   - **salaries:** Employee salary details, including the target column `salary`.
>   - **titles:** Job titles of employees.
>   - **dept_emp:** Employee department assignments.
>   - **dept_manager:** Department manager details.
>   - **employees:** Basic employee information.
>   - **departments:** Department details.
> 
> **Task and Target:**
> - **Task:** Regression
> - **Target Column:** `salary` (in the salaries table)
> 
> **Metadata:**
> - **Size:** 197.4 MB
> - **Number of Rows:** 3,911,392
> - **Number of Columns:** 24
> - **Missing Values:** No
> - **Compound Keys:** No
> - **Loops:** Yes
> - **Type:** Synthetic
> - **Instance Count:** 2,838,426
> 
> This dataset is commonly used for testing and demonstrating database features, providing insights into employee management and salary analysis.

### Tables
Population table: salaries

<h4>
  <details open>
     <summary>ER Diagram</summary>
       <img src="https://relational.fel.cvut.cz/assets/img/datasets-generated/employee.svg" alt="employee ER Diagram">
   </details>
</h4>

To load the dataset, we use the `load_ctu_dataset` function from the `utils`
module. This function returns a tuple with the population table as the first
element and the a dictionary of peripheral tables as the second element.

In [2]:
salaries, peripheral = load_ctu_dataset("employee")

(
    departments,
    dept_emp,
    dept_manager,
    employees,
    titles,
) = peripheral.values()

Analyzing schema:   0%|          | 0/6 [00:00<?, ?it/s]

Downloading tables:   0%|          | 0/6 [00:00<?, ?it/s]

Building data:   0%|          | 0/6 [00:00<?, ?it/s]

/Users/srnnkls/getml/monorepo/src/python-api/getml/data/_io/arrow.py:414: UserWarning: Column 'gender' has an unsupported type: dictionary<values=string, indices=int8, ordered=0>. The column will be ignored.
  warnings.warn(

Now, we can inspect all tables and annotate the columns with [roles](https://getml.com/latest/user_guide/concepts/annotating_data/).

The population table (`salaries`).

We already set the `target` role for the target (`salary`).


salary is the target column for a regression task.

In [3]:
# TODO: Annotate remaining columns with roles
salaries

   name   salary         emp_no   from_date       to_date         split
   role   target   unused_float   unused_string   unused_string   unused_string
      0    60117          10001   1986-06-26      1987-06-26      train
      1    62102          10001   1987-06-26      1988-06-25      train
      2    66074          10001   1988-06-25      1989-06-25      train
      3    66596          10001   1989-06-25      1990-06-25      train
      4    66961          10001   1990-06-25      1991-06-25      val
             ...            ...   ...             ...             ...
2844042    63707         499999   1997-11-30      1998-11-30      train
2844043    67043         499999   1998-11-30      1999-11-30      train
2844044    70745         499999   1999-11-30      2000-11-29      train
2844045    74327         499999   2000-11-29      2001-11-29      train
2844046    77303         499999   2001-11-29      9999-01-01      train


2844047 rows x 5 columns
memory usage: 191.69 MB
type: getml.DataFrame

Peripheral tables,

In [4]:
# TODO: Annotate columns with roles
departments

name   dept_no         dept_name
role   unused_string   unused_string
   0   d009            Customer Service
   1   d005            Development
   2   d002            Finance
   3   d003            Human Resources
   4   d001            Marketing
   5   d004            Production
   6   d006            Quality Management
   7   d008            Research
   8   d007            Sales


9 rows x 2 columns
memory usage: 0.00 MB
type: getml.DataFrame

In [5]:
# TODO: Annotate columns with roles
dept_emp

  name         emp_no   dept_no         from_date       to_date
  role   unused_float   unused_string   unused_string   unused_string
     0          10001   d005            1986-06-26      9999-01-01
     1          10002   d007            1996-08-03      9999-01-01
     2          10003   d004            1995-12-03      9999-01-01
     3          10004   d004            1986-12-01      9999-01-01
     4          10005   d003            1989-09-12      9999-01-01
                  ...   ...             ...             ...
331598         499995   d004            1997-06-02      9999-01-01
331599         499996   d004            1996-05-13      9999-01-01
331600         499997   d005            1987-08-30      9999-01-01
331601         499998   d002            1993-12-27      9999-01-01
331602         499999   d004            1997-11-30      9999-01-01


331603 rows x 4 columns
memory usage: 19.56 MB
type: getml.DataFrame

In [6]:
# TODO: Annotate columns with roles
dept_manager

name         emp_no   dept_no         from_date       to_date
role   unused_float   unused_string   unused_string   unused_string
   0         110022   d001            1985-01-01      1991-10-01
   1         110039   d001            1991-10-01      9999-01-01
   2         110085   d002            1985-01-01      1989-12-17
   3         110114   d002            1989-12-17      9999-01-01
   4         110183   d003            1985-01-01      1992-03-21
                ...   ...             ...             ...
  19         111534   d008            1991-04-08      9999-01-01
  20         111692   d009            1985-01-01      1988-10-17
  21         111784   d009            1988-10-17      1992-09-08
  22         111877   d009            1992-09-08      1996-01-03
  23         111939   d009            1996-01-03      9999-01-01


24 rows x 4 columns
memory usage: 0.00 MB
type: getml.DataFrame

In [7]:
# TODO: Annotate columns with roles
employees

  name         emp_no   birth_date      first_name      last_name       hire_date
  role   unused_float   unused_string   unused_string   unused_string   unused_string
     0          10001   1953-09-02      Georgi          Facello         1986-06-26
     1          10002   1964-06-02      Bezalel         Simmel          1985-11-21
     2          10003   1959-12-03      Parto           Bamford         1986-08-28
     3          10004   1954-05-01      Chirstian       Koblick         1986-12-01
     4          10005   1955-01-21      Kyoichi         Maliniak        1989-09-12
                  ...   ...             ...             ...             ...
300019         499995   1958-09-24      Dekang          Lichtner        1993-01-12
300020         499996   1953-03-07      Zito            Baaz            1990-09-27
300021         499997   1961-08-03      Berhard         Lenart          1986-04-21
300022         499998   1956-09-05      Patricia        Breugel         1993-10-13
300023         499999   1958-05-01      Sachin          Tsukuda         1997-11-30


300024 rows x 5 columns
memory usage: 23.21 MB
type: getml.DataFrame

In [8]:
# TODO: Annotate columns with roles
titles

  name         emp_no   title             from_date       to_date
  role   unused_float   unused_string     unused_string   unused_string
     0          10001   Senior Engineer   1986-06-26      9999-01-01
     1          10002   Staff             1996-08-03      9999-01-01
     2          10003   Senior Engineer   1995-12-03      9999-01-01
     3          10004   Engineer          1986-12-01      1995-12-01
     4          10004   Senior Engineer   1995-12-01      9999-01-01
                  ...   ...               ...             ...
443303         499997   Engineer          1987-08-30      1992-08-29
443304         499997   Senior Engineer   1992-08-29      9999-01-01
443305         499998   Senior Staff      1998-12-27      9999-01-01
443306         499998   Staff             1993-12-27      1998-12-27
443307         499999   Engineer          1997-11-30      9999-01-01


443308 rows x 4 columns
memory usage: 28.93 MB
type: getml.DataFrame

The next step is to define the data model. Refer to [https://relational.fel.cvut.cz/dataset/employee](https://relational.fel.cvut.cz/dataset/employee)
for a description of the dataset.

In [9]:
dm = getml.data.DataModel(population=salaries.to_placeholder())
dm.add(getml.data.to_placeholder(**peripheral))

# TODO
# dm.population.join(...)

Now we can create the container and add the tables to it.

In [10]:
container = getml.data.Container(population=salaries, split=salaries.split)
container.add(**peripheral)

container

population
    subset   name          rows   type
0   train    salaries   1990833   View
1   val      salaries    853214   View

peripheral
    name             rows   type
0   departments         9   DataFrame
1   dept_emp       331603   DataFrame
2   dept_manager       24   DataFrame
3   employees      300024   DataFrame
4   titles         443308   DataFrame