In [1]:
import getml
from challenge.utils.data import load_ctu_dataset

getml.set_project("db_transformer_financial")

Connected to project 'db_transformer_financial'.

# Task: financial
### Dataset Description
> <span style="font-weight: 500; color: #3b3b3b;">ⓘ️&nbsp; Generated by `gpt-4o`</span>
>
> *Data Model:*
> 
> The *financial* dataset consists of eight tables: `loan`, `order`, `trans`, `disp`, `card`, `account`, `client`, and `district`. These tables provide comprehensive information about financial transactions, loans, and client details.
> 
> - **loan**: Contains `loan_id` (int), `account_id` (int), `date` (date), `amount` (int), `duration` (int), `payments` (decimal), and `status` (varchar). This table details loan information and outcomes.
> 
> - **order**: Includes `order_id` (int), `account_id` (int), `bank_to` (varchar), `account_to` (int), `amount` (decimal), and `k_symbol` (varchar). It records orders related to accounts.
> 
> - **trans**: Contains `trans_id` (int), `account_id` (int), `date` (date), `type` (varchar), `operation` (varchar), `amount` (int), `balance` (int), `k_symbol` (varchar), `bank` (varchar), and `account` (int). This table logs transactions.
> 
> - **disp**: Includes `disp_id` (int), `client_id` (int), `account_id` (int), and `type` (varchar). It links clients to accounts.
> 
> - **card**: Contains `card_id` (int), `disp_id` (int), `type` (varchar), and `issued` (date). This table provides card details.
> 
> - **account**: Includes `account_id` (int), `district_id` (int), `frequency` (varchar), and `date` (date). It details account information.
> 
> - **client**: Contains `client_id` (int), `gender` (varchar), `birth_date` (date), and `district_id` (int). This table provides client demographics.
> 
> - **district**: Includes `district_id` (int) and various demographic and economic indicators (varchar, int, decimal).
> 
> *Task and Target Column:*
> 
> The primary task is *classification*, with the target column being `status` in the `loan` table. The goal is to predict the loan outcome.
> 
> *Column Types:*
> 
> - Integer: `loan_id`, `account_id`, `order_id`, `trans_id`, `disp_id`, `card_id`, `client_id`, `district_id`, `amount`, `duration`, `balance`
> - Decimal: `payments`, `amount`
> - Varchar: `status`, `bank_to`, `k_symbol`, `type`, `operation`, `bank`, `frequency`, `gender`
> - Date: `date`, `issued`, `birth_date`
> 
> *Metadata:*
> 
> - **Size**: 78.8 MB
> - **Number of Tables**: 8
> - **Number of Rows**: 1,090,086
> - **Number of Columns**: 55
> - **Missing Values**: Yes
> - **Instance Count**: 682
> - **Target Table**: `loan`
> - **Target Column**: `status`
> 
> This dataset is used in the financial domain to analyze and predict loan outcomes based on various financial and demographic factors.

### Tables
Population table: loan

<h4>
  <details open>
     <summary>ER Diagram</summary>
       <img src="https://relational.fel.cvut.cz/assets/img/datasets-generated/financial.svg" alt="financial ER Diagram">
   </details>
</h4>

To load the dataset, we use the `load_ctu_dataset` function from the `utils`
module. This function returns a tuple with the population table as the first
element and the a dictionary of peripheral tables as the second element.

In [2]:
loan, peripheral = load_ctu_dataset("financial")

(
    district,
    client,
    account,
    card,
    trans,
    disp,
    order,
) = peripheral.values()

Analyzing schema:   0%|          | 0/8 [00:00<?, ?it/s]

Downloading tables:   0%|          | 0/8 [00:00<?, ?it/s]

Building data:   0%|          | 0/8 [00:00<?, ?it/s]

Now, we can inspect all tables and annotate the columns with [roles](https://getml.com/latest/user_guide/concepts/annotating_data/).

The population table (`loan`). We already set the `target` role for the target (`status`). If the task is a multiclass classification,
we split the target column into multiple columns in an one-vs-all fashion. In this case, the original target is still avaiable as `status`.

In [3]:
# TODO: Annotate remaining columns with roles
loan

name   status=0   status=1   status=2   status=3   ...   date            amount          duration        payments
role     target     target     target     target   ...   unused_string   unused_string   unused_string   unused_string
   0          1          0          0          0   ...   1994-01-05      80952           24              3373
   1          0          1          0          0   ...   1996-04-29      30276           12              2523
   2          1          0          0          0   ...   1997-12-08      30276           12              2523
   3          0          0          1          0   ...   1998-10-14      318480          60              5308
   4          0          0          0          1   ...   1998-04-19      110736          48              2307
            ...        ...        ...        ...         ...             ...             ...             ...
 677          0          0          0          1   ...   1998-09-27      39168           24              1632
 678          0          0          0          1   ...   1998-07-18      280440          60              4674
 679          0          0          0          1   ...   1995-10-29      419880          60              6998
 680          1          0          0          0   ...   1996-08-06      54024           12              4502
 681          1          0          0          0   ...   1996-12-27      129408          24              5392

name   split
role   unused_string
   0   val
   1   train
   2   train
   3   train
   4   train
       ...
 677   train
 678   val
 679   train
 680   train
 681   train


682 rows x 12 columns
memory usage: 0.09 MB
type: getml.DataFrame

Peripheral tables,

In [4]:
# TODO: Annotate columns with roles
district

name   account_id      district_id     frequency          date
role   unused_string   unused_string   unused_string      unused_string
   0   1               18              POPLATEK MESICNE   1995-03-24
   1   2               1               POPLATEK MESICNE   1993-02-26
   2   3               5               POPLATEK MESICNE   1997-07-07
   3   4               12              POPLATEK MESICNE   1996-02-21
   4   5               15              POPLATEK MESICNE   1997-05-30
       ...             ...             ...                ...
4495   11333           8               POPLATEK MESICNE   1994-05-26
4496   11349           1               POPLATEK TYDNE     1995-05-26
4497   11359           61              POPLATEK MESICNE   1994-10-01
4498   11362           67              POPLATEK MESICNE   1995-10-14
4499   11382           74              POPLATEK MESICNE   1995-08-20


4500 rows x 4 columns
memory usage: 0.30 MB
type: getml.DataFrame

In [5]:
# TODO: Annotate columns with roles
client

name   card_id         disp_id         type            issued
role   unused_string   unused_string   unused_string   unused_string
   0   1               9               gold            1998-10-16
   1   2               19              classic         1998-03-13
   2   3               41              gold            1995-09-03
   3   4               42              classic         1998-11-26
   4   5               51              junior          1995-04-24
       ...             ...             ...             ...
 887   1230            13312           classic         1998-03-08
 888   1233            13382           classic         1996-07-06
 889   1234            13386           classic         1997-11-28
 890   1239            13442           junior          1998-02-02
 891   1247            13660           classic         1995-06-13


892 rows x 4 columns
memory usage: 0.05 MB
type: getml.DataFrame

In [6]:
# TODO: Annotate columns with roles
account

name   district_id     A2                A3                A4              ...   A12             A13             A14
role   unused_string   unused_string     unused_string     unused_string   ...   unused_string   unused_string   unused_string
   0   1               Hl.m. Praha       Prague            1204953         ...   0.2             0.43            167
   1   2               Benesov           central Bohemia   88884           ...   1.6             1.85            132
   2   3               Beroun            central Bohemia   75232           ...   1.9             2.21            111
   3   4               Kladno            central Bohemia   149893          ...   4.6             5.05            109
   4   5               Kolin             central Bohemia   95616           ...   3.8             4.43            118
       ...             ...               ...               ...                   ...             ...             ...
  72   73              Opava             north Moravia     182027          ...   3.3             3.74            90
  73   74              Ostrava - mesto   north Moravia     323870          ...   4.7             5.44            100
  74   75              Prerov            north Moravia     138032          ...   5.3             5.66            99
  75   76              Sumperk           north Moravia     127369          ...   4.7             5.88            107
  76   77              Vsetin            north Moravia     148545          ...   4               5.56            113

name   A15             A16
role   unused_string   unused_string
   0   85677           99107
   1   2159            2674
   2   2824            2813
   3   5244            5892
   4   2616            3040
       ...             ...
  72   4355            4433
  73   18782           18347
  74   4063            4505
  75   3736            2807
  76   3460            3590


77 rows x 16 columns
memory usage: 0.02 MB
type: getml.DataFrame

In [7]:
# TODO: Annotate columns with roles
card

name   disp_id         client_id       account_id      type
role   unused_string   unused_string   unused_string   unused_string
   0   1               1               1               OWNER
   1   2               2               2               OWNER
   2   3               3               2               DISPONENT
   3   4               4               3               OWNER
   4   5               5               3               DISPONENT
       ...             ...             ...             ...
5364   13647           13955           11349           OWNER
5365   13648           13956           11349           DISPONENT
5366   13660           13968           11359           OWNER
5367   13663           13971           11362           OWNER
5368   13690           13998           11382           OWNER


5369 rows x 4 columns
memory usage: 0.29 MB
type: getml.DataFrame

In [8]:
# TODO: Annotate columns with roles
trans

   name   trans_id        account_id      date            type            ...   amount          balance         k_symbol
   role   unused_string   unused_string   unused_string   unused_string   ...   unused_string   unused_string   unused_string
      0   1               1               1995-03-24      PRIJEM          ...   1000            1000            NULL
      1   5               1               1995-04-13      PRIJEM          ...   3679            4679            NULL
      2   6               1               1995-05-13      PRIJEM          ...   3679            20977           NULL
      3   7               1               1995-06-13      PRIJEM          ...   3679            26835           NULL
      4   8               1               1995-07-13      PRIJEM          ...   3679            30415           NULL
          ...             ...             ...             ...                   ...             ...             ...
1056315   3682983         10451           1998-08-31      PRIJEM          ...   62              17300           UROK
1056316   3682984         10451           1998-09-30      PRIJEM          ...   49              13442           UROK
1056317   3682985         10451           1998-10-31      PRIJEM          ...   34              10118           UROK
1056318   3682986         10451           1998-11-30      PRIJEM          ...   26              8398            UROK
1056319   3682987         10451           1998-12-31      PRIJEM          ...   42              13695           UROK

   name   bank            account
   role   unused_string   unused_string
      0   NULL            NULL
      1   AB              41403269
      2   AB              41403269
      3   AB              41403269
      4   AB              41403269
          ...             ...
1056315   NULL            NULL
1056316   NULL            NULL
1056317   NULL            NULL
1056318   NULL            NULL
1056319   NULL            NULL


1056320 rows x 10 columns
memory usage: 143.22 MB
type: getml.DataFrame

In [9]:
# TODO: Annotate columns with roles
disp

name   client_id       gender          birth_date      district_id
role   unused_string   unused_string   unused_string   unused_string
   0   1               F               1970-12-13      18
   1   2               M               1945-02-04      1
   2   3               F               1940-10-09      1
   3   4               M               1956-12-01      5
   4   5               F               1960-07-03      5
       ...             ...             ...             ...
5364   13955           F               1945-10-30      1
5365   13956           M               1943-04-06      1
5366   13968           M               1968-04-13      61
5367   13971           F               1962-10-19      67
5368   13998           F               1953-08-12      74


5369 rows x 4 columns
memory usage: 0.28 MB
type: getml.DataFrame

In [10]:
# TODO: Annotate columns with roles
order

name   order_id        account_id      bank_to         account_to      amount          k_symbol
role   unused_string   unused_string   unused_string   unused_string   unused_string   unused_string
   0   29401           1               YZ              87144583        2452            SIPO
   1   29402           2               ST              89597016        3372.7          UVER
   2   29403           2               QR              13943797        7266            SIPO
   3   29404           3               WX              83084338        1135            SIPO
   4   29405           3               CD              24485939        327             NULL
       ...             ...             ...             ...             ...             ...
6466   46334           11362           YZ              70641225        4780            SIPO
6467   46335           11362           MN              78507822        56              NULL
6468   46336           11362           ST              40799850        330             POJISTNE
6469   46337           11362           KL              20009470        129             NULL
6470   46338           11362           MN              61540514        5392            UVER


6471 rows x 6 columns
memory usage: 0.52 MB
type: getml.DataFrame

The next step is to define the data model. Refer to [https://relational.fel.cvut.cz/dataset/financial](https://relational.fel.cvut.cz/dataset/financial)
for a description of the dataset.

In [11]:
dm = getml.data.DataModel(population=loan.to_placeholder())
dm.add(getml.data.to_placeholder(**peripheral))

# TODO
# dm.population.join(...)

Now we can create the container and add the tables to it.

In [12]:
container = getml.data.Container(population=loan, split=loan.split)
container.add(**peripheral)

container

population
    subset   name   rows   type
0   train    loan    478   View
1   val      loan    204   View

peripheral
    name          rows   type
0   account       4500   DataFrame
1   card           892   DataFrame
2   district        77   DataFrame
3   disp          5369   DataFrame
4   trans      1056320   DataFrame
5   client        5369   DataFrame
6   order         6471   DataFrame