In [1]:
import getml
from challenge.utils.data import load_ctu_dataset

getml.set_project("stats")

Connected to project 'stats'.

# Task: stats
### Dataset Description
> <span style="font-weight: 500; color: #3b3b3b;">ⓘ️&nbsp; Generated by `gpt-4o`</span>
>
> The *stats* dataset is an anonymized dump of user-contributed content on the Stats Stack Exchange network. It is used for a regression task, with the target column being *Reputation* in the *users* table.
> 
> **Data Model:**
> 
> - **comments** table:
>   - *Id*: int
>   - *PostId*: int
>   - *Score*: int
>   - *Text*: longtext
>   - *CreationDate*: datetime
>   - *UserId*: int
>   - *UserDisplayName*: varchar
> 
> - **tags** table:
>   - *Id*: int
>   - *TagName*: varchar
>   - *Count*: int
>   - *ExcerptPostId*: int
>   - *WikiPostId*: int
> 
> - **postLinks** table:
>   - *Id*: int
>   - *CreationDate*: datetime
>   - *PostId*: int
>   - *RelatedPostId*: int
>   - *LinkTypeId*: int
> 
> - **postHistory** table:
>   - *Id*: int
>   - *PostHistoryTypeId*: int
>   - *PostId*: int
>   - *RevisionGUID*: varchar
>   - *CreationDate*: datetime
>   - *UserId*: int
>   - *Text*: longtext
>   - *Comment*: text
>   - *UserDisplayName*: varchar
> 
> - **votes** table:
>   - *Id*: int
>   - *PostId*: int
>   - *VoteTypeId*: int
>   - *CreationDate*: date
>   - *UserId*: int
>   - *BountyAmount*: int
> 
> - **badges** table:
>   - *Id*: int
>   - *UserId*: int
>   - *Name*: varchar
>   - *Date*: datetime
> 
> - **posts** table:
>   - *Id*: int
>   - *PostTypeId*: int
>   - *AcceptedAnswerId*: int
>   - *CreationDate*: datetime
>   - *Score*: int
>   - *ViewCount*: int
>   - *Body*: longtext
>   - *OwnerUserId*: int
>   - *LastActivityDate*: datetime
>   - *Title*: varchar
>   - *Tags*: varchar
>   - *AnswerCount*: int
>   - *CommentCount*: int
>   - *FavoriteCount*: int
>   - *LastEditorUserId*: int
>   - *LastEditDate*: datetime
>   - *CommunityOwnedDate*: datetime
>   - *ParentId*: int
>   - *ClosedDate*: datetime
>   - *OwnerDisplayName*: varchar
>   - *LastEditorDisplayName*: varchar
> 
> - **users** table:
>   - *Id*: int
>   - *Reputation*: int (target column)
>   - *CreationDate*: datetime
>   - *DisplayName*: varchar
>   - *LastAccessDate*: datetime
>   - *WebsiteUrl*: varchar
>   - *Location*: varchar
>   - *AboutMe*: longtext
>   - *Views*: int
>   - *UpVotes*: int
>   - *DownVotes*: int
>   - *AccountId*: int
>   - *Age*: int
>   - *ProfileImageUrl*: varchar
> 
> **Metadata:**
> 
> - Size: 658.4 MB
> - Number of tables: 8
> - Number of rows: 1,027,838
> - Number of columns: 71
> - Missing values: Yes
> - Compound keys: No
> - Loops: Yes
> - Type: Real
> - Instance count: 41,793
> 
> The dataset is used in educational research to analyze user interactions and contributions on the Stats Stack Exchange platform. It provides insights into user behavior and reputation dynamics.

### Tables
Population table: users

<h4>
  <details open>
     <summary>ER Diagram</summary>
       <img src="https://relational.fel.cvut.cz/assets/img/datasets-generated/stats.svg" alt="stats ER Diagram">
   </details>
</h4>

To load the dataset, we use the `load_ctu_dataset` function from the `utils`
module. This function returns a tuple with the population table as the first
element and the a dictionary of peripheral tables as the second element.

In [2]:
users, peripheral = load_ctu_dataset("stats")

(
    votes,
    comments,
    postHistory,
    tags,
    posts,
    badges,
    postLinks,
) = peripheral.values()

Analyzing schema:   0%|          | 0/8 [00:00<?, ?it/s]

Downloading tables:   0%|          | 0/8 [00:00<?, ?it/s]

Building data:   0%|          | 0/8 [00:00<?, ?it/s]

Now, we can inspect all tables and annotate the columns with [roles](https://getml.com/latest/user_guide/concepts/annotating_data/).

The population table (`users`).

We already set the `target` role for the target (`Reputation`).


Reputation is the target column for a regression task.

In [3]:
# TODO: Annotate remaining columns with roles
users

 name   Reputation             Id          Views        UpVotes   ...   WebsiteUrl                       Location
 role       target   unused_float   unused_float   unused_float   ...   unused_string                    unused_string
    0            1            -1               0           5007   ...   http://meta.stackexchange.com/   on the server farm
    1          101             2              25              3   ...   http://stackoverflow.com         Corvallis, OR
    2          101             3              22             19   ...   http://stackoverflow.com         New York, NY
    3          101             4              11              0   ...   http://minesweeperonline.com     San Francisco, CA
    4         6792             5            1145            662   ...   http://www.statalgo.com          New York, NY
               ...            ...            ...            ...         ...                              ...
40320            1         55743               0              0   ...   NULL                             NULL
40321            6         55744               1              0   ...   NULL                             NULL
40322          101         55745               0              0   ...   NULL                             United States
40323          106         55746               1              0   ...   NULL                             NULL
40324            1         55747               0              0   ...   NULL                             India

 name   AboutMe                            ProfileImageUrl                    split
 role   unused_string                      unused_string                      unused_string
    0   <p>Hi, I'm not really a person.<...   NULL                               train
    1   <p>Developer on the StackOverflo...   NULL                               train
    2   <p><a href="http://blog.stackove...   NULL                               train
    3   <p>currently at a startup in SF<...   http://i.stack.imgur.com/d1oHX.j...   train
    4   <p>Quantitative researcher focus...   NULL                               train
        ...                                ...                                ...
40320   NULL                               http://graph.facebook.com/665821...   train
40321   NULL                               NULL                               train
40322   NULL                               https://www.gravatar.com/avatar/...   train
40323   <p>Stats noobie, product, market...   https://www.gravatar.com/avatar/...   train
40324   <p>Maths Enthusiast </p>
          https://lh4.googleusercontent.co...   train


40325 rows x 15 columns
memory usage: 11.43 MB
type: getml.DataFrame

Peripheral tables,

In [4]:
# TODO: Annotate columns with roles
votes

  name             Id         PostId     VoteTypeId         UserId   BountyAmount   CreationDate
  role   unused_float   unused_float   unused_float   unused_float   unused_float   unused_string
     0              1              3              2           nan            nan    2010-07-19
     1              2              2              2           nan            nan    2010-07-19
     2              3              5              2           nan            nan    2010-07-19
     3              4              5              2           nan            nan    2010-07-19
     4              5              3              2           nan            nan    2010-07-19
                  ...            ...            ...            ...            ...   ...
328059         386254          26088              2           nan            nan    2014-09-14
328060         386255          26088              5         31466            nan    2014-09-14
328061         386256         115374              2           nan            nan    2014-09-14
328062         386257         115368              2           nan            nan    2014-09-14
328063         386258         115369              2           nan            nan    2014-09-14


328064 rows x 6 columns
memory usage: 19.36 MB
type: getml.DataFrame

In [5]:
# TODO: Annotate columns with roles
comments

  name             Id   PostHistoryTypeId         PostId         UserId   RevisionGUID
  role   unused_float        unused_float   unused_float   unused_float   unused_string
     0              1                   2              1             8    e58bf7fd-e60f-4c58-a6e4-dfc91cf9...
     1              2                   1              1             8    e58bf7fd-e60f-4c58-a6e4-dfc91cf9...
     2              3                   3              1             8    e58bf7fd-e60f-4c58-a6e4-dfc91cf9...
     3              4                   2              2            24    18bf9150-f1cb-432d-b7b7-26d2f8e3...
     4              5                   1              2            24    18bf9150-f1cb-432d-b7b7-26d2f8e3...
                  ...                 ...            ...            ...   ...
303182         386844                   5         115374           805    a2993ae0-60b6-4d75-b25c-a0432cea...
303183         386845                   2         115378          7250    cd2f9fc8-4866-438d-8d3d-773d269e...
303184         386846                   5         115377           805    165fb086-f35b-428a-bf63-2978beb5...
303185         386847                  25         115376           nan    1f889b64-5963-4539-ab57-dc6a8457...
303186         386848                   5         115377           805    91050683-844a-4e89-ad8e-f00f564b...

  name   CreationDate                 Text                               Comment                            UserDisplayName
  role   unused_string                unused_string                      unused_string                      unused_string
     0   2010-07-19 19:12:12.000000   How should I elicit prior distri...   NULL                               NULL
     1   2010-07-19 19:12:12.000000   Eliciting priors from experts      NULL                               NULL
     2   2010-07-19 19:12:12.000000   <bayesian><prior><elicitation>     NULL                               NULL
     3   2010-07-19 19:12:57.000000   In many different statistical me...   NULL                               NULL
     4   2010-07-19 19:12:57.000000   What is normality?                 NULL                               NULL
         ...                          ...                                ...                                ...
303182   2014-09-14 02:05:41.000000   This grew too long for a comment...   added 1 character in body          NULL
303183   2014-09-14 02:09:23.000000   Decision trees are notoriously *...   NULL                               NULL
303184   2014-09-14 02:46:55.000000   As a practical answer to the rea...   added 494 characters in body       NULL
303185   2014-09-14 02:52:43.000000   NULL                               http://twitter.com/#!/StackStats...   NULL
303186   2014-09-14 02:54:13.000000   As a practical answer to the rea...   added 92 characters in body        NULL


303187 rows x 9 columns
memory usage: 245.29 MB
type: getml.DataFrame

In [6]:
# TODO: Annotate columns with roles
postHistory

 name             Id         PostId   RelatedPostId     LinkTypeId   CreationDate
 role   unused_float   unused_float    unused_float   unused_float   unused_string
    0            108            395             173              1   2010-07-21 14:47:33.000000
    1            145            548             539              1   2010-07-23 16:30:41.000000
    2            217            375              30              1   2010-07-26 20:12:15.000000
    3            263            769              31              1   2010-07-27 16:00:22.000000
    4            264            769               6              1   2010-07-27 16:00:22.000000
                 ...            ...             ...            ...   ...
11097        3356577         104882          104565              1   2014-09-13 09:51:24.000000
11098        3356634         115343           51061              1   2014-09-13 14:24:45.000000
11099        3356635         115304            5135              3   2014-09-13 15:07:09.000000
11100        3356755         115327           31326              3   2014-09-13 18:43:55.000000
11101        3356789         115360           60438              1   2014-09-13 20:54:31.000000


11102 rows x 5 columns
memory usage: 0.74 MB
type: getml.DataFrame

In [7]:
# TODO: Annotate columns with roles
tags

  name             Id         PostId          Score         UserId   Text
  role   unused_float   unused_float   unused_float   unused_float   unused_string
     0              1              3              5             13   Could be a poster child fo argum...
     1              2              5              0             13   Yes, R is nice- but WHY is it 'v...
     2              3              9              0             13   Again- why?  How would I convinc...
     3              4              5             11             37   It's mature, well supported, and...
     4              5              3              1              5   Define "valuable"...
                  ...            ...            ...            ...   ...
174300         221288          52312              0          13564   You and Bogdanovist are in disag...
174301         221289         115376              0          55746   @gung goal would be to say "Vide...
174302         221290          52312              0          13564   Especially for small datasets wh...
174303         221291         115374              0           6633   In fact, odds of 1-1 are said to...
174304         221292         115374              1            805   @DilipSarwate indeed, in that ca...

  name   CreationDate                 UserDisplayName
  role   unused_string                unused_string
     0   2010-07-19 19:15:52.000000   NULL
     1   2010-07-19 19:16:14.000000   NULL
     2   2010-07-19 19:18:54.000000   NULL
     3   2010-07-19 19:19:56.000000   NULL
     4   2010-07-19 19:20:28.000000   NULL
         ...                          ...
174300   2014-09-14 01:45:11.000000   NULL
174301   2014-09-14 01:45:19.000000   NULL
174302   2014-09-14 01:47:33.000000   NULL
174303   2014-09-14 01:49:32.000000   NULL
174304   2014-09-14 02:04:27.000000   NULL


174305 rows x 7 columns
memory usage: 54.86 MB
type: getml.DataFrame

In [8]:
# TODO: Annotate columns with roles
posts

 name             Id     PostTypeId   AcceptedAnswerId          Score   ...   LastEditDate
 role   unused_float   unused_float       unused_float   unused_float   ...   unused_string
    0              1              1                15              23   ...   NULL
    1              2              1                59              22   ...   2010-08-07 17:56:44.000000
    2              3              1                 5              54   ...   2011-02-12 05:50:03.000000
    3              4              1               135              13   ...   NULL
    4              5              2               nan              81   ...   2010-07-19 19:21:15.000000
                 ...            ...                ...            ...         ...
91971         115374              2               nan               2   ...   2014-09-14 02:05:41.000000
91972         115375              1               nan               0   ...   NULL
91973         115376              1               nan               1   ...   2014-09-14 01:40:55.000000
91974         115377              2               nan               0   ...   2014-09-14 02:54:13.000000
91975         115378              2               nan               0   ...   NULL

 name   CommunityOwnedDate           ClosedDate      OwnerDisplayName   LastEditorDisplayName
 role   unused_string                unused_string   unused_string      unused_string
    0   NULL                         NULL            NULL               NULL
    1   NULL                         NULL            NULL               NULL
    2   2010-07-19 19:13:28.000000   NULL            NULL               NULL
    3   NULL                         NULL            NULL               NULL
    4   2010-07-19 19:14:43.000000   NULL            NULL               NULL
        ...                          ...             ...                ...
91971   NULL                         NULL            NULL               NULL
91972   NULL                         NULL            NULL               NULL
91973   NULL                         NULL            NULL               NULL
91974   NULL                         NULL            NULL               NULL
91975   NULL                         NULL            NULL               NULL


91976 rows x 21 columns
memory usage: 130.04 MB
type: getml.DataFrame

In [9]:
# TODO: Annotate columns with roles
badges

name             Id          Count   ExcerptPostId     WikiPostId   TagName
role   unused_float   unused_float    unused_float   unused_float   unused_string
   0              1           1342          20258          20257    bayesian
   1              2            168          62158          62157    prior
   2              3              6            nan            nan    elicitation
   3              4            191          67815          67814    normality
   4              5             13            nan            nan    open-source
                ...            ...             ...            ...   ...
1027           1865              1            nan            nan    roxygen2
1028           1866              1            nan            nan    package-development
1029           1867              1            nan            nan    generilzed-linear-model
1030           1868              1            nan            nan    standard
1031           1869              1            nan            nan    zero-inflated


1032 rows x 5 columns
memory usage: 0.05 MB
type: getml.DataFrame

In [10]:
# TODO: Annotate columns with roles
postLinks

 name             Id         UserId   Name             Date
 role   unused_float   unused_float   unused_string    unused_string
    0              1              5   Teacher          2010-07-19 19:39:07.000000
    1              2              6   Teacher          2010-07-19 19:39:07.000000
    2              3              8   Teacher          2010-07-19 19:39:07.000000
    3              4             23   Teacher          2010-07-19 19:39:07.000000
    4              5             36   Teacher          2010-07-19 19:39:07.000000
                 ...            ...   ...              ...
79846          92236          55744   Student          2014-09-13 23:25:21.000000
79847          92237           1118   Nice Answer      2014-09-14 00:09:35.000000
79848          92238           1118   Enlightened      2014-09-14 01:18:29.000000
79849          92239          55746   Student          2014-09-14 01:41:18.000000
79850          92240          12597   Autobiographer   2014-09-14 02:31:28.000000


79851 rows x 4 columns
memory usage: 5.52 MB
type: getml.DataFrame

The next step is to define the data model. Refer to [https://relational.fel.cvut.cz/dataset/stats](https://relational.fel.cvut.cz/dataset/stats)
for a description of the dataset.

In [11]:
dm = getml.data.DataModel(population=users.to_placeholder())
dm.add(getml.data.to_placeholder(**peripheral))

# TODO
# dm.population.join(...)

Now we can create the container and add the tables to it.

In [12]:
container = getml.data.Container(population=users, split=users.split)
container.add(**peripheral)

container

population
    subset   name     rows   type
0   train    users   28228   View
1   val      users   12097   View

peripheral
    name             rows   type
0   votes          328064   DataFrame
1   post_history   303187   DataFrame
2   post_links      11102   DataFrame
3   comments       174305   DataFrame
4   posts           91976   DataFrame
5   tags             1032   DataFrame
6   badges          79851   DataFrame